@import '@/styles/variables';
@import '@/styles/breakpoints';

.SiteSection {
  padding: $padding-container;
  padding-top: $header-height + $header-height / 2;
  height: 100vh;
  display: flex;
  align-items: center;

  @include sm-down {
    padding: $padding-container-mobile;
    padding-top: $header-height + $header-height / 2;
  }
}