$primary: #f2b437;
$font-color: #828282;
$white: #ffffff;

$border: 2px solid $font-color;

$regular: 100;
$semi-bold: 500;
$bold: 600;
$extra-bold: 800;

$padding-container: 0 10vw;

$header-height: 50px;