$primary: #f2b437;
$font-color: #828282;
$white: #ffffff;

$border: 2px solid $font-color;

$regular: 100;
$semi-bold: 500;
$bold: 600;
$extra-bold: 800;

$side-spacing: 10vw;
$side-spacing-mobile: $side-spacing / 2;
$padding-container: 0 $side-spacing;
$padding-container-mobile: 0 $side-spacing-mobile;

$header-height: 50px;