@import '@/styles/variables';
@import '@/styles/breakpoints';

.Contact {
  &.SiteSection {
    justify-content: flex-end;
  }

  &-contentWrapper {
    display: flex;
    flex-direction: column;
  }

  &-title {
    text-align: right;
  }

  &-frame {
    padding: 40px;
    border: $border;
    position: relative;
  }

  &-innerFrame {
    white-space: nowrap;

    @include sm-down {
      white-space: initial;
    }
  }

  &-content {
    margin-bottom: 20px;
    overflow: hidden;

    &::after {
      content: "____";
      color: $white;

      @include sm-down {
        content: '';
      }
    }
  }

  &-action {
    display: block;
    width: calc(100% + 42px + #{$side-spacing});

    @include sm-down {
      width: calc(100% + 42px + #{$side-spacing-mobile});
    }
    
    &.Button {
      background-color: $primary;

      &:hover {
        background-color: #df990ad1;
      }
    }
  }
}