<header class="SiteHeader" id="site-header">
  <h1 class="SiteHeader-title">Clara<span>Serna</span></h1>
  <button 
    class="SiteHeader-hamburger"
    :class="{'is-open': isMenuOpen}"
    @click="toggleMenu()" 
    v-if="isMobile()"
  >
    <span></span>
    <span></span>
  </button>
  <div 
    class="SiteHeader-navContainer" 
    :class="{'SiteHeader-navContainer--mobile': isMobile(), 'is-open': isMenuOpen}"
  >
    <nav 
      class="SiteHeader-nav"
      :class="{'SiteHeader-nav--mobile': isMobile()}"  
    >
      <a 
        v-for="(link, i) in linkList"
        :key="i"
        :class="{'is-active': currentSection === link}" 
        :href="`#${link}`"
        @click="handleNav()"
      >{{ $t(`header.menu.${link}`) }}</a> 
    </nav>
    <select 
      class="SiteHeader-langSelector"
      :class="{'SiteHeader-langSelector--mobile': isMobile()}" 
      v-model="$i18n.locale"
      @change="updateLocale($event)"
    >
      <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{ $t(`header.lang.${locale}`) }}</option>
    </select>
  </div>
</header>

